<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skullmind.io.geek.mapper.article">
    <resultMap id="articleMap" type="cn.skullmind.io.geek.model.Article">
        <result column="title" property="title"></result>
        <result column="id" property="id"></result>
        <result column="update_time" property="updateTimestamp"></result>
        <result column="content" property="content"></result>
    </resultMap>

    <insert id="insert" parameterType="cn.skullmind.io.geek.model.Article">
        <![CDATA[ insert into t_article(tilte,update_time,content) values(#{title},#{updateTimestamp},#{content} ) ]]>
    </insert>
    <delete id="delete" parameterType="int">
        <![CDATA[ delete * from t_article where id = #{id}]]>
    </delete>
    <select id="findById" parameterType="int" resultMap="cn.skullmind.io.geek.model.Article">
        <![CDATA[ select * from t_article where id = #{id}]]>
    </select>

    <!--  分页 start记录起始点 limit 最大数量 -->
    <select id="findAllByFilter" parameterType="map" resultMap="cn.skullmind.io.geek.model.Article">
        select * from t_article where 1=1
        <if test="start != null and limit != null">
            limmi #{start},#{limit}
        </if>
    </select>

    <select id="findAllByFilterCount" parameterType="map" resultMap="int">
        select count(id) from t_article where 1=1
        limmit #{start},#{limit}
    </select>
    <update id="update" parameterType="cn.skullmind.io.geek.model.Article" >
        update t_article
        <set>
            <if test="content != null">
                content = ${content}
            </if>
            <if test="update_time != null">
                update_time = ${updateTimestamp}
            </if>
            <if test="title != null">
                title = ${title}
            </if>
        </set>
       where id = #{id}

    </update>


</mapper>