<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.skullmind.io.geek.mapper.article.ArticleMapper">
    <resultMap id="articleMap" type="cn.skullmind.io.geek.model.Article">
        <result column="title" property="title" jdbcType="VARCHAR" javaType="String"></result>
        <result column="id" property="id"></result>
        <result column="update_time" property="updateTimestamp"></result>
        <result column="content" property="content"></result>
    </resultMap>

    <sql id="select_xxx">
        <![CDATA[ select title, id, update_time,content ]]>
    </sql>
    <sql id="from_xxx">
        <![CDATA[ from t_article]]>
    </sql>

    <insert id="insert" parameterType="cn.skullmind.io.geek.model.Article">
        <![CDATA[ insert into t_article(title,content) values(#{title},#{content} ) ]]>
    </insert>

    <delete id="delete" parameterType="int">
        <![CDATA[ delete  from t_article where id = #{id}]]>
    </delete>

    <!--  禁用* 代替字段  -->
    <select id="findById" parameterType="int"  resultMap="articleMap">
         <include refid="select_xxx"></include>
         <include refid="from_xxx"></include>
          where id = #{id}
    </select>

    <!--  分页 start记录起始点 limit 最大数量 -->
    <select id="findAllByFilter" parameterType="map" resultType="cn.skullmind.io.geek.model.Article">
        <include refid="select_xxx"></include>
        <include refid="from_xxx"></include>
        where 1=1
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>


    <update id="update" parameterType="cn.skullmind.io.geek.model.Article">
        update t_article
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
        </set>
       where id = #{id}

    </update>


</mapper>